
  /* Extra large devices (large laptops and desktops, 1200px and up) */
 
    header{
        width: 100%;
    }
    img{
        width: 100%;
    }
    .heads{
        width: 100%;
        height: 40px;
        float: none;
        /* display: inline; */
        padding: 8px 0px 8px 0px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .con{
       
        padding-left: 48px;
        padding-right: 48px;
    }
    .nav{
        padding-top: 4px;
        padding-bottom: 4px;
        height: 88px;
        display: flex;
        
        justify-content: space-between;
    }
    .main-logo-size{
        padding-top: 10px;
        padding-bottom: 10px;
        /* visibility: hidden; */
        /* cursor: pointer; */
        width: 100%;
        
        
    }
    
    .nav-fs{
        font-size: 16px;
        border: 0px;
        text-decoration: none;
        color: black;
        background-color: rgba(0, 110, 255, 0);
        /* text-decoration-line: none; */
        padding-left: 8px;
        padding-right: 8px;
        cursor: pointer;
    }
    .nav-fs div{
        /* text-decoration: none; */
        display: inline;
    }
    .bg-prime{
        padding-top: 4px;
        padding-bottom: 4px;
        background-color: rgba(0, 110, 255, 0.733);
        
    }
    .imgbox{
        overflow-clip-margin: content-box;
      cursor: pointer;
      width: 310px;
      height: 90px;
      overflow: hidden;
      display: flex;
    }
    .toolbox{
        display: flex;
        align-items: center;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 40%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
      .menu{
        font-size: 30px;
        cursor: pointer;
        padding-left: 20px;
        visibility: hidden;
      }
      .dropdown{
        border: 1px solid black;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 600;
        background: rgba(0, 110, 255, 0);
        /* color: brown; */
        width: 65px;
        height: 25.6px;
        cursor: pointer;
    }
    .lens{
        padding-left: 20px;
        cursor: pointer;
    }
    .busket{
        padding-left: 20px;
        cursor: pointer;
    }
    .contact{
        /* row-gap: 1.5rem; */
        /* display: flex; */
        display: flex;
        align-items: center;
        
        
    }
    .headtext{
        font-size: 14px;
        letter-spacing: 3px;
        display: inline;
        /* flex-direction: row; */
        /* position: static; */
        padding-left: 5px;
        padding-right: 5px ;
        /* justify-content: center; */
        /* align-items: center; */
    }
      /* @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
      } */
       /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu{
        visibility: initial;
    }
    .contact{
        display: none;
    }
    .dropdown{
        display: none;    
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu{
        visibility: initial;
    }
    .contact{
        display: none;
    }
    .dropdown{
        display: none;    
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu{
        display: none;
    }
    .contact{
        display:initial;
        display: flex;
        align-items: center;
    }
    .dropdown{
        display: initial;    
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1120px) {
    
}



    
    